@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Abel", sans-serif;
  line-height: 1.6;
}

header {
  background-color: #92b6b5;
  color: #fff;
  padding: 16px;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 50px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 16px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

h2 {
  margin: 16px;
  text-align: center;
}

.example-trips {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px;
}

.trip {
  margin: 8px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20%;
}

.trip img {
  width: 100%;
  border-radius: 5px;
}

.trip h3 {
  margin-top: 8px;
  font-size: 175%;
}

.trip p {
  margin-top: 8px;
  font-size: 100%;
}

footer {
  background-color: #92b6b5;
  color: #fff;
  text-align: center;
  padding: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 24px;
  }

  nav ul li {
    margin: 15px;
  }

  .trip {
    width: 45%;
  }
}
